.p{
  size: 16px;
  width: 672px;
height: 36px;
top: 24px;
left: 40px;
color: black;
}
.p2{
  size: 16px;
  width: 672px;
height: 36px;
top: 223px;
left: 40px;
}
table{
  border-collapse:collapse;
  width:618px;
  top:384px;
  left: 42px;
  padding: 3px;
}
.p3{
  size: 16px;
  width: 672px;
height: 36px;
top: 517px;
left: 40px;
gap: 0px;
opacity: 0px;
}
.img{
  width: 301px;
height: 241px;
top: 553px;
left: 39px;

}